<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends "base.html" %}
{% load widget_tweaks %}

{% block content %}
<div class="container mt-5">
    <div class="card shadow rounded-3">
        <div class="card-header bg-primary text-white">
            <h4 class="mb-0">
                {% if object %} ویرایش محصول {% else %} افزودن محصول {% endif %}
            </h4>
        </div>
        <div class="card-body">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}

                {% for field in form %}
                    <div class="mb-3">
                        <label class="form-label">{{ field.label }}</label>
                        {{ field|add_class:"form-control"|attr:"placeholder:وارد کنید" }}
                        {% if field.errors %}
                            <div class="text-danger small">
                                {{ field.errors }}
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}

                <button type="submit" class="btn btn-success">💾 ذخیره</button>
                <a href="{% url 'product_list' %}" class="btn btn-secondary">بازگشت به لیست محصولات</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}


</body>
</html>