
<html>
<body>
{% extends "base.html" %}

{% block content %}
<div class="modal show" id="modaldemo1" aria-modal="true" role="dialog" style="display: block;">
    <div class="modal-dialog" role="document">
        <div class="modal-content modal-content-demo">
            <div class="modal-header">
                <h6 class="modal-title">حذف محصول</h6><button aria-label="بستن" class="close" data-bs-dismiss="modal" type="button"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
                <p>آیا مطمئن هستید که می‌خواهید "{{ object.name }}" را حذف کنید؟</p>

                <form method="post">
                    {% csrf_token %}
                    <div class="modal-footer">
                        <button class="btn ripple btn-primary" type="button">حذف محصول</button>
                        <button class="btn ripple btn-secondary" data-bs-dismiss="modal" type="button">لغو</button>
                    </div>
                </form>
                {% endblock %}
            </div>
        </div>
    </div>
</div>

</body>
</html>